body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgb(136, 238, 102);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    padding: 100px 50px 100px 50px;
    margin: 100px 50px 100px 50px;
}
