<div class="topbar">
  <div class="left">
    <select>
      <option>Description</option>
      <option>Category</option>
      <option>Price</option>
    </select>

    <input type="text" [(ngModel)]="searchTerm" placeholder="Search text" />
    <button>Search</button>
  </div>

  <div class="right">
    <button class="btn-link" *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>

    <div class="cart" (click)="goToCart()" style="cursor:pointer;">
      Cart <span class="badge">{{ cartCount }}</span>
    </div>
  </div>
</div>


<div class="cards-container" *ngIf="filtered.length; else noData">
  <div class="product-card" *ngFor="let product of filtered">
    <img [src]="product.productImgUrl" alt="{{product.productName}}" />
    <div class="info">
      <h3>{{product.productName}}</h3>
      <p class="muted">{{product.productCat}} • {{product.make}}</p>
      <p>{{product.productDesc}}</p>
      <div class="meta">
        <span>{{product.productPrice | currency:'INR'}}</span>
        <button (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
<ng-template #noData>
  <div class="empty">No products available</div>
</ng-template> 




